<div class="col-12">
    <form #form="ngForm" (ngSubmit)="onsubmitForm(form)">
        <div class="form-group">
            <div class="row">
                <div class="col-3 align-self-center">
                    <label translate>Username</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" #userName="ngModel" name="username" ngModel required autocomplete="off">
                    <span class="help-block text-danger" *ngIf="userName.errors?.required && userName.touched" translate>
                        ErrorUsername
                      </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-3 align-self-center">
                    <label translate>Password</label>
                </div>
                <div class="col-9">
                    <input type="password" class="form-control"  #pwd="ngModel" name="password" ngModel required>
                    <span class="help-block text-danger" *ngIf="pwd.errors?.required && pwd.touched" translate>
                        ErrorPassword
                      </span>
                </div>
            </div>
        </div>
        <div *ngIf="error">
            <span class="text-danger">{{ error }}
      
            </span>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-lr" translate>Login</button>
            </div>
        </div>
    </form>
</div>