<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="heading col-12">
                <h2>Details of Video : {{ video?.videoName }}</h2>
            </div>

            <div class="details row">
                <div class="col-2"><h5 translate>Release Year</h5></div>
                <div class="col-10"><h5>{{ video?.yearOfRelease }}</h5></div>

                <div class="col-2"><h5 translate>Languages</h5></div>
                <div class="col-10"><h5>{{ video?.language }}</h5></div>

                <div class="col-2"><h5 translate>Director</h5></div>
                <div class="col-10"><h5>{{ video?.director }}</h5></div>

                <div class="col-2"><h5 translate>Actors</h5></div>
                <div class="col-10"><h5>{{ video?.actors }}</h5></div>

                <div class="col-2"><h5 translate>Description</h5></div>
                <div class="col-10"><h5>{{ video?.description }}</h5></div>
            </div>
            
            <div class="col-12">
                <button class="btn btn-success" (click)="addRecord()" translate>Lease Video</button>
            </div>
        </div>
    </div>
</div>
